  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="baseurl" content="{{site.baseurl}}">
  <!-- Social Media Info -->
  <link rel="publisher" href="https://plus.google.com/113283982336373378707/">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | remove_first:'/' }}">
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}dist/images/opengraph_image.png">
  <meta property="og:image:width" content="1875">
  <meta property="og:image:height" content="2000">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@TheSeg">
  <meta property="twitter:account_id" content="13731442" />
  <meta property="og:title" content="Shipping the Empty Box by John &quot;Seg&quot; Seggerson">
  <meta property="og:description" content="Releasing [string:titleOfGame] on [array:platforms]. A lecture on build engeineering by John *Seg* Seggerson">
  <!-- Bootstrap via CDN -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <!-- Custom Style -->
  <link rel="stylesheet" href="{{site.baseurl}}dist/ShippingTheEmptyBox.css">
  <!-- Bootstrap JavaScript via CDN -->
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- JavaScript -->
  <!--[if lt IE 9]>
    <script src="{{site.baseurl}}js/html5shiv-printshiv.min.js"></script>
    <script src="{{site.baseurl}}js/respond.min.js"></script>
  <![endif]-->
  <script src="{{site.baseurl}}dist/svg/grunticon.loader.js"></script>
  <script src="{{site.baseurl}}dist/ShippingTheEmptyBox.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KZF1P7BE59"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KZF1P7BE59');
  </script>
